<html>


<style type='text/css'>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
</style>


<head>
<title>Slice tour gallery</title>
</head>

<body>

<h1>  Animated gifs referenced in arXiv:XXX</h1>

<h2> Slices through geometric shapes </h2>
<p> Centered slices through 3D and 5D hollow spheres </p>
  <IMG SRC="gifs/sphere-3-centered.gif" class="center">
  <IMG SRC="gifs/sphere-5-centered.gif" class="center">
<p> Off-center slices through 3D and 5D hollow spheres </p>
  <IMG SRC="gifs/sphere-3-anchored.gif" class="center">
  <IMG SRC="gifs/sphere-5-anchored.gif" class="center">
<p> Centered slices through a 3D Roman surface, a 4D torus and a 6D hollow cube </p>
  <IMG SRC="gifs/roman-surface-centered.gif" class="center">
  <IMG SRC="gifs/torus-4-centered.gif" class="center">
  <IMG SRC="gifs/cube-6-centered.gif" class="center">


<h2> Slices through the pollen data </h2>
<p> Centered slices through the pollen data, the second animation is zooming in on the center </p>
  <IMG SRC="gifs/pollen.gif" class="center">
  <IMG SRC="gifs/pollen-zoom.gif" class="center">
  

<h2> Slices through a model in data space </h2>
<p> Tour animations of the wine data set classifier, showing first projections in the radial and polynomial basis, and then slices through the center </p>

  <IMG SRC="gifs/wine-radial-projected.gif" class="center">
  <IMG SRC="gifs/wine-poly-projected.gif" class="center">
  <IMG SRC="gifs/wine-radial.gif" class="center">
  <IMG SRC="gifs/wine-poly.gif" class="center">


</body>
</html>
